<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{css/style.css}"/>
  <title>Hello</title>
</head>
<body>
<h1 th:text="'Hello,  ' + ${#authentication.getName()}">Hello, world!</h1>
<div sec:authorize="!isAuthenticated()">
  <h3><a href="/login">Login</a></h3>
  <h3><a href="/registration">Registration</a></h3>
</div>
<div sec:authorize="isAuthenticated()">
  <form th:method="POST" th:action="@{/logout}">
    <h3><input type="submit" value="Logout" class="link-button"></h3>
  </form>
</div>
<div sec:authorize="hasRole('USER')">
  <h3><a href="/news">News</a></h3>
</div>
<div sec:authorize="hasRole('ADMIN')">
  <h3><a href="/admin">Users</a></h3>
</div>
</body>
</html>